<!DOCTYPE html>
<html lang="ru-RU">

<head>
	<title>ДОКУМЕНТАЦИЯ К УНИВЕРСАЛЬНОМУ ШАБЛОНУ ArtNet Theme HTML</title>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,400italic,500,700&subset=latin,cyrillic'
		rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700&subset=latin,cyrillic'
		rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/styles.css">

</head>

<body>
	<section class="main-content">
		<main>
			<h1 class="center">Инструкция по работе с шаблоном <span class="blue">ArtNet Theme HTML</span></h1>

			<h4>1. Начало работы:</h4>

			<p class="alert">Корректная работа шаблона подразумевает, что все пункты данной инструкции будут выполнены в
				строгом порядке.</p>

			<p class="alert">Также подразумевается, что Вы владеете базовыми навыками HTML и CSS - на уровне копирования
				разметки и стилей, т. п.</p>

			<p class="info">Для комфортной работы с шаблоном рекомендуем использовать редактор <a
					href="https://code.visualstudio.com/" target="_blank">Visual Studio Code</a>.</p>

			<p class="info">Ниже представлена краткая инструкция по работе с шаблоном. Подробное руководство смотрите
				далее по документации.</p>

			<h5 class="blue">1.1 Краткое руководство</h5>

			<p>Основная обертка шаблона имеет примитивную HTML-структуру и выглядит следующим образом:</p>

			<p><img src="img/ant-doc-1.png" alt=""></p>

			<p>Теги <b>header</b>, <b>section</b> и <b>footer</b> являются основными. На их местах будут распологаться
				соответствующие модули. Немного описания по поводу данных тегов:</p>

			<ol>
				<li><b>header (шапка сайта)</b> - это классический верх сайта, как правило, с горизонтальным меню,
					контактами или прочей важной информацией. Модули шапок сайта имеют название, типа
					"<b>ant006_header</b>", чтобы было понятно, что речь идет о шапке сайта.</li>
				<li><b>breadcrumbs ("хлебные крошки" сайта)</b> - карта навигации, показывает пользователю, где он сейчас находится. Обычно используется на внутренних страницах сайта.</li>
				<li><b>section (секции сайта)</b> - это переиспользуемые модули из которых будет строиться Ваш сайт.
					Виды секций могут быть абсолютно разные: от слайдеров до контактных форм. Модули секций могут носить
					семантические имена, типа "<b>ant030_slider</b>", что говорит о наличия слайдера.</li>
				<li><b>footer (подвал сайта)</b> - это классический низ сайта, как правило, с колонками меню, контактами
					или прочей информацией. Модули футеров сайта имеют название, типа "<b>ant007_footer</b>", чтобы было
					понятно, что речь идет о подвале сайта.</li>
			</ol>

			<p>Вам необходимо будет просто вставлять в соответствующие места разметку модуля. Что и где размещать в коде
				будет показано в документации конкретного модуля.</p>

			<h5 class="blue">1.2 Варианты стартового шаблона</h5>

			<ul>
				<li><b>clear template</b> - полностью чистая обертка, как на скриншоте выше. Начните добавлять модули с
					нуля.</li>
				<li>
					<b>default template</b> - шаблон, в который уже включены модули по умолчанию. Глядя на этот пример,
					вы сможете добавлять модули, как по образцу.<br> <img src="img/ant-doc-2.png" alt=""><br>
					В него уже включены стандартные HTML-модули. Стили:<br>
					<img src="img/ant-doc-3.png" alt=""><br>
					И сами страницы:<br>
					<img src="img/ant-doc-4.png" alt="">
				</li>
			</ul>

			<p>Для того, чтобы разобраться, как все устроено, достаточно просто открыть HTML-файлы в редакторе VS Code.
				Там Вы найдете аккуратную разметку и комментарии.</p>

			<p>Содержимое тега <b>head</b> в файле <b>default template/index.html</b>:</p>

			<p><img src="img/ant-doc-5.png" alt=""></p>

			<p>И сам контент с подключенной разметкой (секции свернуты в редакторе):</p>

			<p><img src="img/ant-doc-6.png" alt=""></p>

			<div class="separator"></div>

			<h4>2. Доступные варианты модулей:</h4>

			<p class="info">В исходном формате тема содержит несколько общих и необходимых <strong>модулей</strong>&nbsp;для
				функционирования сайта. Все элементы, которые поставляются вместе с темой, являются
				<strong>бесплатным</strong> и считаются <strong>стандартными</strong>. Платные элементы поставляются в
				.zip-архивах и после их покупки.
			</p>

			<p>В нашем Каталоге Вы сможете найти следующие типы модулей, которые можно добавлять в шаблон:</p>

			<p><strong>Шапка сайта</strong> - это, как правило, верхняя часть сайта. В нее могут быть включены логотип,
				меню, поиск, а также контактная и CTA-информация. Все модули шапок обернуты тегом <b>header</b> и
				подключаются перед тегом <b>main</b>.
			</p>

			<p><strong>Футер сайта</strong> -&nbsp;это, как правило, нижняя часть сайта. В нее могут быть включены
				логотип, меню, контакты, копирайт, разделы сайта, форма подписки и так далее. Все модули футеров
				обернуты тегом <b>footer</b> и подключаются после тега <b>main</b>.
			</p>

			<p><strong>Хлебные крошки сайта</strong> -&nbsp;обычно распологается под шапкой сайта Отражает текущее нахождение посетителя в структуре сайта.
			</p>

			<p><strong>Секции сайта</strong> - строительные блоки Вашего сайта. Их можно использовать в любом количестве
				и на любой странице, участвующей в шаблоне. Каждая секция имеет свой уникальный идентификатор, стили
				оформления, скрипты, параметры. Все секции подключаются внутри тега <b>main</b>.
			</p>

			<p><strong>Внутренние страницы</strong> - это все остальное оформление Вашего сайта. Здесь настраивается
				то, какой вид будет иметь страница записей, блога и т.д. Разметка модуля вставляется между тегами
				<b>header</b> и <b>footer</b>.
			</p>

			<p><strong>Страницы 404</strong> - как правило, это креативное оформление страницы, когда пользователь
				получает ошибку 404 на Вашем сайте. Такие модули подключаются внутри тега <b>main</b>.
			</p>

			<div class="separator"></div>

			<h4>3. Ресурсы по умолчанию:</h4>

			<p>Шаблон использует самые популярные базовые инструменты - это <b>Bootstrap</b> и <b>jQuery</b>. Вы сможете
				самостоятельно добавлять в шаблон все, что захотите.</p>

			<p>В шаблоне уже доступны следующие модули:</p>

			<ul>
				<li><b>ant006_header</b> - Стандартный хедер сайта. Включает в себя меню и логотип.</li>
				<li><b>ant007_footer</b> - Стандартный футер сайта. Включает в себя меню и логотип.</li>
				<li><b>ant086_breadcrumbs</b> - Хлебные крошки вариант №1.</li>
				<li><b>ant093_breadcrumbs</b> - Хлебные крошки вариант №2 (папка <b>modules</b>).</li>
				<li><b>ant000_devider</b> - Разделитель вариант №1.</li>
				<li><b>ant081_devider</b> - Разделитель вариант №2 (папка <b>modules</b>).</li>
				<li><b>ant082_devider</b> - Разделитель вариант №3 (папка <b>modules</b>).</li>
				<li><b>ant083_devider</b> - Разделитель вариант №4 (папка <b>modules</b>).</li>
				<li><b>ant010_blog</b> - Стандартный блок новостей с коротким содержанием.</li>
				<li><b>ant012_welcome</b> - Секция с фоновым изображением, вступительным текстом и CTA-кнопкой.</li>
				<li><b>ant011_team</b> - Отображение сотрудников Вашей компании: имя, должность, ссылки на соц. сети.</li>
				<li><b>ant009_post</b> - Стандартное оформление внутренних страниц сайта: записи, сайдбар, поиск и т.д.</li>
				<li><b>ant029_shop</b> - Стандартное оформление странц магазина: категория и карточка товара;</li>
				<li><b>ant013_page404</b> - Стандартное оформление ошибки 404 на сайте. Простая инфомрация о том, что ничего не найдено и поиск.</li>
			</ul>

			<p>В шаблон включены шрифтовые иконки <a href="https://fontawesome.com/icons?d=gallery&m=free" target="_blank">Font Awesome</a> и <a href="https://material.io/resources/icons/?style=baseline" target="_blank">Material Icons</a>.</p>

			<p class="info">Посмотреть, как это все организовано в коде можно в HTML-файлах папки <b>default template/index.html</b>.</p>

			<p class="info">Чистая главная страница доступна в <b>clear template/index.html</b>.</p>

			<div class="separator"></div>

			<h4>4. Что дальше?</h4>

			<p>После того, как Вы поняли алгоритм ручного построения шаблона, можно начать формировать свой
				уникальный вариант сайта. Построить примерный сайт можно в онлайн-конструкторе. Последовательность Ваших действий:</p>

			<ol>
				<li>Перейдите на <a href="https://html6.com.ru/dev/builder/html/index.html" target="_blank">страницу конструктора</a> и выберите необходимые модули.</li>
				<li>Оформьте и оплатите заказ.</li>
				<li>В личном кабинете скачайте выбранные HTML-модули в .zip-архивах.</li>
				<li>Распакуйте все модули - каждый в отдельную папку. Ознакомьтесь с разметкой.</li>
				<li><b>Вернитесь в онлайн-конструктор и откройте окно с инструкцией.</b></li>
				<li>Следуя инструкциям в конструкторе и архиве подключите модуль к Вашему шаблону.</li>
			</ol>

			<p>Каждый модуль будет содержать порядок действий, которые необходимо сделать для отображения элементов на сайте.</p>

			<div class="separator"></div>

			<p class="info">Если Вы обнаружили ошибки или недоработки в шаблоне и его модулях, обращайтесь в нашу <a href="https://html6.com.ru/contact.html" target="_blank">техническую поддержку.</p>

		</main>

	</section>
</body>

</html>