{% extends 'base.html' %}

{% block title %}Burning Man{% endblock %}
{% block content %}
{% load static %}
	<section id="about" class="about">
		<div class="container">
			<div class="description">
				<div class="desc-left">
					<h3>WARSAW</h3>
					<p>
						Burning Man is a network of people inspired by the values reflected in the Ten Principles and united in the pursuit of a 
					</p>
					<div class="gallery">
					     <img src="{% static 'images/img1.jpg' %}" alt="Event photo 1" class="logo" style="width:100vh !important; height: 60vh !important;">
					</div>
				</div>
				
			</div>
				<div class="desc-bot">
					<h3>MINSK</h3>
					<p>
						Burning Man Project will bring experiences to people in grand, awe-inspiring and joyful ways that lift the human spirit, address social problems, and inspire a sense of 
					</p>
					<div class="gallery">
						<img src="{% static 'images/img2.jpg' %}" alt="Event photo 2" style="width:100vh !important; height: 60vh !important;">
					</div>
					
				</div>			
			</div>
			
		</div>
	</section>
{% endblock %}
