<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Burning Man</title>
	<link href="https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans&display=swap" rel="stylesheet">
	<link rel="icon" href="img/favicon.png" type="image/x-icon">
	<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon"> 
	<link rel="stylesheet" href="css/main.css">
</head>
<body bgcolor="#fffffa">
	<header id="header" class="header">
		<div class="container">
			<div class="nav">
				<img src="img/logo.svg" alt="Burning Man" class="logo" style="width: 10vh !important; height: 6vh !important;">
				<ul class="menu">
					<li>
						<a href="#">
							Home
						</a>
					</li>
					<li>
						<a href="#">
							About
						</a>
					</li>
					<li>
						<a href="#">
							Tickets
						</a>
					</li>
					<li>
						<a href="#">
							Contacts
						</a>
					</li>
				</ul>
				<ul class="profile">
					<li>
						<a href="#" >
						my profile
						</a>
					</li>
				</ul>
					
				</a>
			</div>
			<div class="offer">
				<p>Easy way</p>
				<h1>
					FOR YOU TO RENT
				</h1>
			</div>
		</div>
	</header>
	<section id="about" class="about">
		<div class="container">
			<div class="description">
				<div class="desc-left">
					<h3>WARSAW</h3>
					<p>
						Burning Man is a network of people inspired by the values reflected in the Ten Principles and united in the pursuit of a 
					</p>
					<div class="gallery">
					     <img src="img/img1.jpg" alt="Event photo 1" class="logo" style="width:100vh !important; height: 60vh !important;">
					</div>
				</div>
				
			</div>
				<div class="desc-bot">
					<h3>MINSK</h3>
					<p>
						Burning Man Project will bring experiences to people in grand, awe-inspiring and joyful ways that lift the human spirit, address social problems, and inspire a sense of 
					</p>
					<div class="gallery">
						<img src="img/img2.jpg" alt="Event photo 2" style="width:100vh !important; height: 60vh !important;">
					</div>
					
				</div>			
			</div>
			
		</div>
	</section>
	<footer id="footer" class="footer">
		<div class="container">
			<div class="footer-text">
				<p>
					Arnold SCHWARCZNEGGER 
				</p>
				<p>
					Kirill Zmitrovich
				</p>
				<p>
					Roman Turonchik 
				</p>
				<p>
					https://codepen.io/aybukeceylan/pen/RwrRPoO
				</p>
				
				<p>https://github.com/KiaanCastillo/Pure-CSS-Multilayer-Parallax
				</p>
				
			</div>
		</div>
	</footer>
</body>
</html>