{% extends 'base.html' %}
{% load static %}
{% block title %}Burning Man{% endblock %}
{% block head %}
  <link rel="stylesheet" href="{% static 'finding_apartment/looking_page.css' %}">
{% endblock %}
{% block content %}
  <ul>
    {% for link in links %}
      <li>
        <a href="{{ link.link }}" target="_blank">
          <div class="apart_block" style="box-shadow: 0 2px 8px #3ca3c1;">
            Количество комнат: {{ link.room }}<br>
            Район: {{ link.region }}<br>
            Адрес: {{ link.address }}<br>
            Цена: {{ link.price }}<br>
          </div>
        </a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}

