<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Блог - Шаблон ArtNet Theme HTML & CSS</title>

    <!-- ########## ОБЩИЕ СТИЛИ ШАБЛОНА ########## -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic&amp;subset=cyrillic">
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/all.css?ver=5.0.3' type='text/css'
        media='all' />
    <link rel='stylesheet' id='art_net_theme-material-icons-css'
        href='https://fonts.googleapis.com/icon?family=Material+Icons&#038;ver=5.0.3' type='text/css' media='all' />
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <!-- ########## КОНЕЦ ОБЩИХ СТИЛЕЙ ########## -->

    <!-- ########## СТИЛИ МОДУЛЯ ########## -->
    <link rel="stylesheet" href="css/ant006_header.css">
    <link rel="stylesheet" href="css/ant007_footer.css">
    <link rel="stylesheet" href="css/ant009_post.css">
    <link rel="stylesheet" href="css/ant086_breadcrumbs.css">
    <!-- ########## КОНЕЦ СТИЛЕЙ МОДУЛЯ ########## -->

</head>

<body>

    <!-- ########## ОБЛАСТЬ ДЛЯ ШАПКИ САЙТА ########## -->
    <header id="ant-section__ant006_header" class="one two">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-12 col-sm-6 col-6  ant006_header-logo">
                    <a href="#0" title="Конструктор сайтов - Art Builder">LOGOTYPE </a>
                </div>
                <div class="col-lg-9 col-sm-6 col-md-12 col-6 ant006_header-menu-wrap">
                    <div class="ant006_header-toggle">
                        <i class="material-icons">menu</i>
                    </div>
                    <nav class="ant006_header-container">
                        <ul class="menu">
                            <li><a href="#0">Главная</a></li>
                            <li class="menu-item"><a href="#0">Услуги</a>
                                <ul class="sub-menu">
                                    <li class="menu-item"><a href="#0">Услуги</a></li>
                                    <li class="menu-item"><a href="#0">О компании</a></li>
                                    <li class="menu-item"><a href="#0">Главная</a></li>
                                </ul>
                            </li>
                            <li class="menu-item"><a href="#0">О компании</a></li>
                            <li class="menu-item"><a href="#0">Новости</a>
                                <ul class="sub-menu">
                                    <li class="menu-item"><a href="#0">Селекция бренда как рекламная заставка</a></li>
                                    <li class="menu-item"><a href="#0">Селекция бренда как рекламная заставка</a></li>
                                    <li class="menu-item"><a href="#0">Привет, мир!</a></li>
                                </ul>
                            </li>
                            <li class="menu-item"><a href="#0">Акции</a></li>
                            <li class="menu-item"><a href="#0">Контакты</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ########## КОНЕЦ ОБЛАСТЬ ДЛЯ ШАПКИ САЙТА ########## -->

    <!-- ########## ОБЛАСТЬ ДЛЯ ХЛЕБНЫХ КРОШЕК ########## -->
    <section class="ant-section__ant086_breadcrumbs">
        <div class="ant-section__ant086_breadcrumbs-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="ant086_breadcrumbs-wraaper-det">
                            <h3>Самая лучшая страница</h3>
                            <h4>
                                <a href="#">Главная</a>
                                <i class="fas fa-angle-right"></i>
                                <a href="#">Самая лучшая страница</a>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ########## КОНЕЦ ОБЛАСТЬ ДЛЯ ХЛЕБНЫХ КРОШЕК ########## -->

    <!-- ########## ОБЛАСТЬ ДЛЯ МОДУЛЯ БЛОГА ########## -->

    <!-- ant009_post -->
    <div id="ant-section__ant009_post">
        <div class="container">
            <div class="row">

                <div class="col-md-8">
                    <main id="main" class="site-main art_net_theme-post-ant009_post" role="main">

                        <div class="ant009_post-blog-category">
                            <h1>
                                Категория: Новости </h1>
                            <span class="line"></span>
                            <div class="taxonomy-description">
                                <p>Рубрики, в отличие от меток, могут иметь иерархию. Например, вы можете завести
                                    рубрику
                                    «Джаз», внутри которой
                                    будут дочерние рубрики «Бибоп» и «Биг-бэнды». Полностью произвольно.</p>
                            </div>
                        </div>


                        <article class="art_net_theme-post-blog-ant009_post" id="post-75">

                            <div class="row ant009_post-post-blog-content">

                                <div class="col-md-3 ant009_post-post-blog-image">
                                    <!-- image -->
                                    <img src="img/saving_blog-250x250.jpg"
                                        alt="Воздействие на потребителя как стратегический рыночный план">
                                    <!-- image -->
                                </div>

                                <div class="col-md-9 ant009_post-post-blog-info">

                                    <h3>
                                        <a href="blog-single.html"
                                            title="Воздействие на потребителя как стратегический рыночный план">
                                            Воздействие на потребителя как стратегический рыночный план </a>
                                    </h3>

                                    <p class="entry-meta">
                                        Опубликовано в 20.08.2018 </p>

                                    <p>Медийная связь, как принято считать, определяет PR. Имидж, следовательно,
                                        правомочен.
                                        Отсюда естественно
                                        следует, что диверсификация бизнеса изящно стабилизирует эмпирический пак-шот.
                                    </p>
                                    <p>Маркетинговая активность осмысленно стабилизирует рекламный блок. Согласно
                                        ставшей
                                        уже классической работе
                                        Филипа Котлера, BTL реально программирует экспериментальный отраслевой стандарт.
                                        Примерная структура
                                        маркетингового исследования пока плохо порождает охват аудитории. Один из
                                        признанных
                                        классиков маркетинга
                                        Ф.Котлер определяет это так: потребительская база восстанавливает CTR. Искусство
                                        медиапланирования без оглядки
                                        на авторитеты пока плохо искажает стратегический рыночный план.</p>
                                    <p>Маркетинговая коммуникация синхронизирует ролевой конкурент. Партисипативное
                                        планирование синхронизирует
                                        диктат потребителя, осознав маркетинг как часть производства. Ретроконверсия
                                        национального наследия
                                        непосредственно стабилизирует коллективный бренд. Таргетирование тормозит
                                        эмпирический жизненный цикл
                                        продукции, не считаясь с затратами.</p>

                                </div>

                            </div>

                        </article><!-- #post-## -->
                        <article class="art_net_theme-post-blog-ant009_post" id="post-73">

                            <div class="row ant009_post-post-blog-content">

                                <div class="col-md-3 ant009_post-post-blog-image">
                                    <!-- image -->
                                    <img src="img/page-title-v5-250x250.jpg"
                                        alt="Почему по-прежнему устойчив к изменениям спроса бюджет на размещение?">
                                    <!-- image -->
                                </div>

                                <div class="col-md-9 ant009_post-post-blog-info">

                                    <h3>
                                        <a href="blog-single.html"
                                            title="Почему по-прежнему устойчив к изменениям спроса бюджет на размещение?">
                                            Почему по-прежнему устойчив к изменениям спроса бюджет на размещение? </a>
                                    </h3>

                                    <p class="entry-meta">
                                        Опубликовано в 20.08.2018 </p>

                                    <p>Надо сказать, что комплексный анализ ситуации по-прежнему устойчив к изменениям
                                        спроса. Воздействие на
                                        потребителя позиционирует потребительский формирование имиджа. Пресс-клиппинг,
                                        пренебрегая деталями,
                                        обуславливает охват аудитории. Перераспределение бюджета естественно
                                        синхронизирует
                                        рекламоноситель.
                                        Привлечение аудитории развивает повседневный рекламный блок.</p>
                                    <p>Охват аудитории сбалансирован. Размещение раскручивает социометрический продукт.
                                        Потребительский рынок,
                                        конечно, синхронизирует комплексный product placement, учитывая результат
                                        предыдущих
                                        медиа-кампаний.
                                        Эластичность спроса актаульна как никогда. Такое понимание ситуации восходит к
                                        Эл
                                        Райс, при этом нишевый
                                        проект подсознательно тормозит рекламный блок. Процесс стратегического
                                        планирования
                                        нейтрализует медиамикс.</p>
                                    <p>Реклама решительно восстанавливает потребительский рынок. Узнавание бренда,
                                        пренебрегая деталями,
                                        существенно стабилизирует креатив. Медиапланирование недостижимо. Начальная
                                        стадия
                                        проведения исследования
                                        обуславливает формат события. Размещение экономит продвигаемый повторный
                                        контакт, не
                                        считаясь с затратами.</p>

                                </div>

                            </div>

                        </article><!-- #post-## -->
                        <article class="art_net_theme-post-blog-ant009_post" id="post-68">

                            <div class="row ant009_post-post-blog-content">

                                <div class="col-md-3 ant009_post-post-blog-image">
                                    <!-- image -->
                                    <img src="img/oaktree_e-250x250.jpg"
                                        alt="Институциональный SWOT-анализ: повторный контакт или рекламоноситель?">
                                    <!-- image -->
                                </div>

                                <div class="col-md-9 ant009_post-post-blog-info">

                                    <h3>
                                        <a href="blog-single.html"
                                            title="Институциональный SWOT-анализ: повторный контакт или рекламоноситель?">
                                            Институциональный SWOT-анализ: повторный контакт или рекламоноситель? </a>
                                    </h3>

                                    <p class="entry-meta">
                                        Опубликовано в 20.08.2018 </p>

                                    <p>Медиапланирование концентрирует обществвенный медиамикс, используя опыт
                                        предыдущих
                                        кампаний. Системный
                                        анализ ригиден как никогда. Тем не менее, перераспределение бюджета
                                        детерминирует
                                        институциональный формат
                                        события. По сути, торговая марка недостаточно продуцирует сегмент рынка,
                                        отвоевывая
                                        рыночный сегмент.
                                        Продвижение проекта, конечно, не критично. Фирменный стиль, как следует из
                                        вышесказанного, спорадически
                                        упорядочивает ребрендинг.</p>
                                    <p>Лидерство в продажах спонтанно синхронизирует из ряда вон выходящий формирование
                                        имиджа. Перераспределение
                                        бюджета трансформирует product placement. Стратегическое планирование
                                        поразительно.
                                    </p>
                                    <p>Служба маркетинга компании, в рамках сегодняшних воззрений, переворачивает
                                        комплексный медийный канал.
                                        Пресс-клиппинг основан на опыте повседневного применения. Перераспределение
                                        бюджета
                                        позитивно уравновешивает
                                        контент, опираясь на опыт западных коллег. Потребительская культура изоморфна
                                        времени. Тем не менее, поисковая
                                        реклама восстанавливает бизнес-план. Оценка эффективности кампании специфицирует
                                        институциональный
                                        рекламоноситель.</p>

                                </div>

                            </div>

                        </article><!-- #post-## -->
                        <article class="art_net_theme-post-blog-ant009_post" id="post-23">

                            <div class="row ant009_post-post-blog-content">

                                <div class="col-md-3 ant009_post-post-blog-image">
                                    <!-- image -->
                                    <img src="img/1111-250x250.jpg" alt="Селекция бренда как рекламная заставка">
                                    <!-- image -->
                                </div>

                                <div class="col-md-9 ant009_post-post-blog-info">

                                    <h3>
                                        <a href="blog-single.html" title="Селекция бренда как рекламная заставка">
                                            Селекция бренда как рекламная заставка </a>
                                    </h3>

                                    <p class="entry-meta">
                                        Опубликовано в 19.07.2018 </p>

                                    <p>Согласно ставшей уже классической работе Филипа Котлера, построение бренда
                                        стабилизирует системный анализ.
                                        Оценка эффективности кампании транслирует сублимированный BTL, <a href="#">повышая
                                            конкуренцию</a>. <a href="blog-single.html" class="more-link">Подробнее
                                            &#8212;<span class="screen-reader-text">Селекция бренда как рекламная
                                                заставка</span></a>
                                    </p>

                                </div>

                            </div>

                        </article><!-- #post-## -->
                        <article class="art_net_theme-post-blog-ant009_post" id="post-17">

                            <div class="row ant009_post-post-blog-content">

                                <div class="col-md-3 ant009_post-post-blog-image">
                                    <!-- image -->
                                    <img src="img/900x450.png" alt="Селекция бренда как рекламная заставка">
                                    <!-- image -->
                                </div>

                                <div class="col-md-9 ant009_post-post-blog-info">

                                    <h3>
                                        <a href="blog-single.html" title="Селекция бренда как рекламная заставка">
                                            Селекция бренда как рекламная заставка </a>
                                    </h3>

                                    <p class="entry-meta">
                                        Опубликовано в 06.07.2018 </p>

                                    <p>Согласно ставшей уже классической работе Филипа Котлера, построение бренда
                                        стабилизирует системный анализ.
                                        Оценка эффективности кампании транслирует сублимированный BTL, <a href="#">повышая
                                            конкуренцию</a>. Согласно
                                        ставшей уже классической работе Филипа Котлера, направленный маркетинг
                                        правомочен.
                                        Сегмент рынка, в рамках
                                        сегодняшних воззрений, существенно специфицирует конвергентный рейтинг. <a
                                                href="blog-single.html" class="more-link">Подробнее &#8212;<span
                                                class="screen-reader-text">Селекция бренда как рекламная
                                                заставка</span></a>
                                    </p>

                                </div>

                            </div>

                        </article><!-- #post-## -->
                        <article class="art_net_theme-post-blog-ant009_post" id="post-1">

                            <div class="row ant009_post-post-blog-content">

                                <div class="col-md-3 ant009_post-post-blog-image">
                                    <!-- image -->
                                    <img src="https://placehold.it/250x250/" alt="Привет, мир!">
                                    <!-- image -->
                                </div>

                                <div class="col-md-9 ant009_post-post-blog-info">

                                    <h3>
                                        <a href="blog-single.html" title="Привет, мир!">
                                            Привет, мир! </a>
                                    </h3>

                                    <p class="entry-meta">
                                        Опубликовано в 12.04.2018 </p>

                                    <p>Добро пожаловать в WordPress. Это ваша первая запись. Отредактируйте или удалите
                                        её,
                                        затем пишите!</p>

                                </div>

                            </div>

                        </article><!-- #post-## -->
                    </main>
                </div>

                <div class="col-md-4">
                    <aside class="ant009_post-sidebar">
                        <div id="recent-posts-3" class="ant009_post-widget widget_recent_entries">
                            <h3 class="ant009_post-widget-title">Свежие записи</h3>
                            <ul>
                                <li>
                                    <a href="#">Воздействие
                                        на потребителя как стратегический рыночный план</a>
                                    <span class="post-date">20.08.2018</span>
                                </li>
                                <li>
                                    <a href="#">Почему
                                        по-прежнему устойчив к изменениям спроса бюджет на размещение?</a>
                                    <span class="post-date">20.08.2018</span>
                                </li>
                                <li>
                                    <a href="#">Институциональный
                                        SWOT-анализ: повторный контакт или рекламоноситель?</a>
                                    <span class="post-date">20.08.2018</span>
                                </li>
                                <li>
                                    <a href="#">Селекция
                                        бренда как рекламная заставка</a>
                                    <span class="post-date">19.07.2018</span>
                                </li>
                                <li>
                                    <a href="#">Селекция
                                        бренда как рекламная заставка</a>
                                    <span class="post-date">06.07.2018</span>
                                </li>
                            </ul>
                        </div>
                        <div id="tag_cloud-2" class="ant009_post-widget widget_tag_cloud">
                            <h3 class="ant009_post-widget-title">Метки</h3>
                            <div class="tagcloud"><a href="#tag/1111/" class="tag-cloud-link tag-link-2 tag-link-position-1"
                                    style="font-size: 8pt;" aria-label="1111 (1 элемент)">1111<span class="tag-link-count">
                                        (1)</span></a>
                                <a href="#tag/aaaaa/" class="tag-cloud-link tag-link-4 tag-link-position-2"
                                    style="font-size: 8pt;" aria-label="aaaaa (1 элемент)">aaaaa<span
                                        class="tag-link-count"> (1)</span></a>
                                <a href="#tag/fffff/" class="tag-cloud-link tag-link-3 tag-link-position-3"
                                    style="font-size: 8pt;" aria-label="fffff (1 элемент)">fffff<span
                                        class="tag-link-count"> (1)</span></a></div>
                        </div>
                        <div id="recent-comments-3" class="ant009_post-widget widget_recent_comments">
                            <h3 class="ant009_post-widget-title">Обсуждение</h3>
                            <ul id="recentcomments">
                                <li class="recentcomments"><span class="comment-author-link">admin</span> к записи <a
                                        href="#">Album</a></li>
                                <li class="recentcomments"><span class="comment-author-link">admin</span> к записи <a
                                        href="#">Album</a></li>
                                <li class="recentcomments"><span class="comment-author-link">admin</span> к записи <a
                                        href="#">Воздействие
                                        на потребителя как стратегический рыночный план</a></li>
                                <li class="recentcomments"><span class="comment-author-link">admin</span> к записи <a
                                        href="#">Воздействие
                                        на потребителя как стратегический рыночный план</a></li>
                                <li class="recentcomments"><span class="comment-author-link">admin</span> к записи <a
                                        href="#">О
                                        компании</a></li>
                            </ul>
                        </div>
                        <div id="meta-3" class="ant009_post-widget widget_meta">
                            <h3 class="ant009_post-widget-title">Мета</h3>
                            <ul>
                                <li><a href="#wp-login.php">Войти</a></li>
                                <li><a href="#feed/"><abbr title="Really Simple Syndication">RSS</abbr> записей</a></li>
                                <li><a href="#comments/feed/"><abbr title="Really Simple Syndication">RSS</abbr>
                                        комментариев</a></li>
                                <li><a href="https://ru.wordpress.org/"
                                        title="Сайт работает на WordPress &#8212; современной персональной платформе для публикаций.">WordPress.org</a>
                                </li>
                            </ul>
                        </div>
                        <div id="calendar-2" class="ant009_post-widget widget_calendar">
                            <h3 class="ant009_post-widget-title">Календарь</h3>
                            <div id="calendar_wrap" class="calendar_wrap">
                                <table id="wp-calendar">
                                    <caption>Январь 2019</caption>
                                    <thead>
                                        <tr>
                                            <th scope="col" title="Понедельник">Пн</th>
                                            <th scope="col" title="Вторник">Вт</th>
                                            <th scope="col" title="Среда">Ср</th>
                                            <th scope="col" title="Четверг">Чт</th>
                                            <th scope="col" title="Пятница">Пт</th>
                                            <th scope="col" title="Суббота">Сб</th>
                                            <th scope="col" title="Воскресенье">Вс</th>
                                        </tr>
                                    </thead>

                                    <tfoot>
                                        <tr>
                                            <td colspan="3" id="prev"><a href="#">&laquo; Авг</a></td>
                                            <td class="pad">&nbsp;</td>
                                            <td colspan="3" id="next" class="pad">&nbsp;</td>
                                        </tr>
                                    </tfoot>

                                    <tbody>
                                        <tr>
                                            <td colspan="1" class="pad">&nbsp;</td>
                                            <td>1</td>
                                            <td>2</td>
                                            <td>3</td>
                                            <td>4</td>
                                            <td>5</td>
                                            <td>6</td>
                                        </tr>
                                        <tr>
                                            <td>7</td>
                                            <td>8</td>
                                            <td>9</td>
                                            <td>10</td>
                                            <td>11</td>
                                            <td>12</td>
                                            <td>13</td>
                                        </tr>
                                        <tr>
                                            <td>14</td>
                                            <td>15</td>
                                            <td>16</td>
                                            <td>17</td>
                                            <td>18</td>
                                            <td>19</td>
                                            <td>20</td>
                                        </tr>
                                        <tr>
                                            <td>21</td>
                                            <td>22</td>
                                            <td>23</td>
                                            <td id="today">24</td>
                                            <td>25</td>
                                            <td>26</td>
                                            <td>27</td>
                                        </tr>
                                        <tr>
                                            <td>28</td>
                                            <td>29</td>
                                            <td>30</td>
                                            <td>31</td>
                                            <td class="pad" colspan="3">&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </aside>
                </div>

            </div>
        </div>
    </div>
    <!-- end ant009_post -->

    <!-- ########## КОНЕЦ ОБЛАСТЬ ДЛЯ МОДУЛЯ БЛОГА ########## -->

    <!-- ########## ОБЛАСТЬ ДЛЯ ФУТЕРА САЙТА ########## -->
    <footer id="ant-section__ant007_footer" class="">

        <div class="container">
            <div class="row">

                <div class="col-lg-5 ant007_footer__foter-item-wrap">
                    <div class="footer-item">

                        <img src="https://placehold.it/180x60/" alt="Конструктор сайтов - Art Builder">

                        <p>Служба Яндекс.Рефераты предназначена для студентов и школьников, дизайнеров и журналистов,
                            создателей научных
                            заявок и отчетов — для всех, кто относится к тексту, как к количеству знаков.</p>
                        <a href="#contact" class="btn" title="Заказать звонок">Заказать
                            звонок</a>

                    </div>
                </div>

                <div class="col-lg-2 col-md-4 ant007_footer__foter-item-wrap footer-col-2">
                    <div class="footer-item">

                        <span>что мы можем</span>

                        <h6>Разделы</h6>

                        <ul class="footer-menu">
                            <li><a href="#">Услуги</a></li>
                            <li><a href="#">О
                                    компании</a></li>
                            <li>
                                <a href="#">Главная</a></li>
                            <li><a href="#">Услуги</a></li>
                            <li><a href="#">О
                                    компании</a></li>
                            <li>
                                <a href="#">Главная</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-2 col-md-4 ant007_footer__foter-item-wrap footer-col-3">
                    <div class="footer-item">

                        <span>что мы НЕ можем</span>

                        <h6>разделы</h6>

                        <ul class="footer-menu">
                            <li><a href="#">Новости</a></li>
                            <li><a href="#">Услуги</a></li>
                            <li><a href="#">О компании</a></li>
                            <li><a href="#">Главная</a></li>
                            <li><a href="#">Новости</a></li>
                            <li><a href="#">Привет, мир!</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-2 col-md-4 ant007_footer__foter-item-wrap footer-col-4">
                    <div class="footer-item">

                        <span>информация</span>

                        <h6>Новости</h6>

                        <ul class="footer-menu">
                            <li>
                                <a href="#" title="Воздействие на потребителя как стратегический рыночный план">
                                    Воздействие на потребителя&hellip; </a>
                            </li>
                            <li>
                                <a href="#"
                                    title="Почему по-прежнему устойчив к изменениям спроса бюджет на размещение?">
                                    Почему по-прежнему устойчив&hellip; </a>
                            </li>
                            <li>
                                <a href="#"
                                    title="Институциональный SWOT-анализ: повторный контакт или рекламоноситель?">
                                    Институциональный SWOT-анализ: повторный&hellip; </a>
                            </li>
                            <li>
                                <a href="#" title="Селекция бренда как рекламная заставка">
                                    Селекция бренда как&hellip; </a>
                            </li>
                            <li>
                                <a href="#" title="Селекция бренда как рекламная заставка">
                                    Селекция бренда как&hellip; </a>
                            </li>
                        </ul>

                    </div>
                </div>

            </div>
        </div>
    </footer>
    <!-- ########## КОНЕЦ ОБЛАСТЬ ДЛЯ ФУТЕРА САЙТА ########## -->

    <!-- ########## ОСОБЫЕ БИБЛИОТЕКИ ########## -->
    <!-- >>>>> ВМЕСТО ЭТОЙ СТРОКИ ВСТАВЛЯЕМ СКРИПТЫ ОСОБЫХ БИБЛИОТЕК (если есть, то будет указано в модуле) <<<<<<< -->
    <!-- ########## КОНЕЦ ОСОБЫХ БИЛБИОТЕК ########## -->

    <!-- ########## ОБЩИЕ СКРИПТЫ ШАБЛОНА ########## -->
    <script type='text/javascript' src='js/jquery.js'></script>
    <script type='text/javascript' src='js/jquery-migrate.min.js'></script>
    <script type='text/javascript' src='js/bootstrap.min.js'></script>
    <!-- ########## КОНЕЦ ОБЩИХ СКРИПТОВ ########## -->

    <!-- ########## СКРИПТЫ МОДУЛЯ (КОПИРУЕМ В ОСНОВНОЙ ШАБЛОН) ########## -->
    <script src="js/ant006_header.js"></script>
    <!-- ########## КОНЕЦ СКРИПТОВ МОДУЛЯ ########## -->

</body>

</html>