{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}{% endblock %}</title>
	<link href="https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans&display=swap" rel="stylesheet">
	<link rel="icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
	<link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body bgcolor="#fffffa">
	<header id="header" class="header">
		<div class="container">
			<div class="nav">
				<img src="{% static 'images/logo.svg' %}" alt="Burning Man" class="logo" style="width: 10vh !important; height: 6vh !important;">
				<ul class="menu">
					<li>
						<a href="#">
							Home
						</a>
					</li>
					<li>
						<a href="#">
							About
						</a>
					</li>
					<li>
						<a href="#">
							Tickets
						</a>
					</li>
					<li>
						<a href="#">
							Contacts
						</a>
					</li>
				</ul>
				<ul class="profile">
					<li>
						<a href="#" >
						my profile
						</a>
					</li>
				</ul>

				</a>
			</div>
			<div class="offer">
				<p>Easy way</p>
				<h1>
					FOR YOU TO RENT
				</h1>
			</div>
		</div>
	</header>
	{% block content %}{% endblock %}
	<footer id="footer" class="footer">
		<div class="container">
			<div class="footer-text">
				<p>
					<a href="https://instagram.com/kirillzmitrovich?igshid=YWJhMjlhZTc=" target="_blank"><img src="{% static 'images/insta_logo.png' %}" style="width: 6vh !important; height: 6vh !important;">Kirill Zmitrovich</a>
				</p>
				<p>
					<a href="https://instagram.com/romanturonchik?igshid=ZDdkNTZiNTM=" target="_blank"><img src="{% static 'images/insta_logo.png' %}" style="width: 6vh !important; height: 6vh !important;">Roman Turonchik</a>
				</p>
				<p>
					https://codepen.io/aybukeceylan/pen/RwrRPoO
				</p>

				<p><a href="https://github.com/Raman-Turonchyk/looking_for_apartment" target="_blank"><img src="{% static 'images/git_logo.png' %}" style="width: 8vh !important; height: 8vh !important;"></a>
				</p>

			</div>
		</div>
	</footer>
</body>
</html>